{% extends 'base.html' %}

{% block content %}

<div class="container">
  <!-- Kontener -->
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h1 class="mb-4">Vehicle Details</h1>
    <a href="{% url 'vehicle_list' %}" class="btn btn-primary">Vehicle list</a>
  </div>
  <div class="card p-4">
    <div class="mb-3">
      <span class="fw-bold">Registration Number:</span> {{ object.registration_number }}
    </div>
    <div class="mb-3">
      <span class="fw-bold">VIN Number:</span> {{ object.vin_number }}
    </div>
    <div class="mb-3">
      <span class="fw-bold">Make:</span> {{ object.make }}
    </div>
    <div class="mb-3">
      <span class="fw-bold">Model:</span> {{ object.model }}
    </div>
    <div class="mb-3">
      <span class="fw-bold">Purchase Date:</span> {{ object.purchase_date }}
    </div>
    <div class="mb-3">
      <span class="fw-bold">Sale Date:</span> {{ object.sale_date }}
    </div>
    <div class="mb-3">
      <span class="fw-bold">Policy number:</span> {{ object.policy }}
      <div class="card p-2 bg-info">
        <p class="m-0 text-white">Policy start date : {{ start }}</p>
        <p class="m-0 text-white">Policy expiring on : {{ end }}</p>
      </div>
    </div>
    <div class="mb-3">
      <span class="fw-bold">Status:</span> {{ object.status }}
    </div>
  </div>
</div>

{% endblock %}