 {%  block content %}

    <h3> All vehicles </h3>
    <hr>

    {% for vehicle in AllVehicles %}
        <br>
        {{ vehicle.id }}
        <br>
        {{ vehicle.registration_number}}
        <br>
         {{ vehicle.vin_number}}
        <br>
         {{ vehicle.make}}
        <br>r
         {{ vehicle.model}}
        <br>
         {{ vehicle.purchase_date}}
        <br>
         {{ vehicle.sale_date}}
        <br>
        {{ vehicle.policy}}
        <br>
        {{ vehicle.status}}
        <br>
        <a href="{% url 'vehicle_add' %}"> Add another vehicle </a>

    {% endfor %}

    {% endblock %}

</html>