{% extends 'base.html' %}
<!-- Rozszerza szablon bazowy base.html -->

{% block content %}
<!-- Rozpoczyna blok zawartości -->

{% block style %}
<!-- Rozpoczyna blok stylów -->

<style>
/* Stylizacja formularza */
p {
  display: flex;
  flex-direction: column; /* Układa elementy w kolumnie */
}
/* Stylizacja paragrafów */
.form {
  width: 30rem; /* Ustawienie szerokości formularza */
}
/* Stylizacja szerokości formularza */
select {
  width: 100%; /* Szerokość rozwijanych list na 100% */
  padding: 10px; /* Dodaje wewnętrzny odstęp */
  font-size: 16px; /* Ustawienie rozmiaru czcionki */
  border: 1px solid #ccc; /* Dodaje obramowanie */
  border-radius: 5px; /* Zaokrąglenie rogów */
  appearance: none; /* Usuwa domyślny wygląd elementu */
  background-color: white; /* Tło białe */
}
/* Stylizacja rozwijanych list */
select:hover,
select:focus {
  border-color: #4CAF50; /* Kolor obramowania po najechaniu myszką lub fokusowaniu */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Dodaje cień */
}
/* Stylizacja rozwijanych list po najechaniu i fokusowaniu */
input {
  width: 100%; /* Szerokość pola tekstowego na 100% */
  padding: 10px; /* Dodaje wewnętrzny odstęp */
  font-size: 16px; /* Ustawienie rozmiaru czcionki */
  border: 1px solid #ccc; /* Dodaje obramowanie */
  border-radius: 5px; /* Zaokrąglenie rogów */
  box-sizing: border-box; /* Ustawia model pudełka na border-box */
}
/* Stylizacja pól tekstowych */
input:hover,
input:focus {
  border-color: #4CAF50; /* Kolor obramowania po najechaniu myszką lub fokusowaniu */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Dodaje cień */
}
/* Stylizacja pól tekstowych po najechaniu i fokusowaniu */
</style>

{% endblock %}
<!-- Zamyka blok stylów -->

<hr>
<!-- Linia pozioma -->

<form method="post" class="form mx-auto" autocomplete="off">
    <!-- Formularz edycji ubezpieczenia -->
    {% csrf_token %}
    <!-- Token zabezpieczający CSRF -->
    {{ form.as_p }}
    <!-- Wyświetla formularz jako listę paragrafów -->
    <input type="submit" class="btn btn-primary" value="Save Changes">
    <!-- Przycisk wysyłający formularz -->
    <br>
    <input type="button" class="btn btn-secondary" value="Cancel" onclick="window.history.back();"> <!-- Dodanie przycisku "Cancel" -->
    </br>
</form>

{% endblock %}
<!-- Zamyka blok zawartości -->
