{#{% extends 'base.html' %}#}
{#{%  block content %}#}
{#<div class="d-flex flex-row justify-content-between align-items-center">#}
{#  <h3> All insurances </h3>#}
{#  <a href="{% url 'insurance_add' %}" class="btn btn-primary">Add insurance</a>#}
{#</div>#}
{#<hr>#}
{#<div class="w-100 p-3 d-flex flex-row flex-wrap">#}
{#  {% for insurance in policies %}#}
{#  <div class="card p-4 d-inline-block m-2" style="width: 20rem;">#}
{#    <div class="d-flex flex-row justify-content-between">#}
{#      <h4>{{insurance.policy_number}}</h4>#}
{#    </div>#}
{#    <div class="d-flex flex-column">#}
{#      <p class="mt-2 mb-1 d-block">Valid from<p>#}
{#      <span>{{insurance.validity_start_date}} to {{insurance.validity_end_date}}</span>#}
{#    </div>#}
{#    <p>Status: {{insurance.status}}</p>#}
{#    <p>Type: {{insurance.policy_type}}</p>#}
{#    <div class="mt-4 d-flex flex-row">#}
{#      <a href="{% url 'insurance_detail' insurance.id %}" class="btn btn-primary mr-2 text-white flex-grow-1">Info</a>#}
{#      <a href="{% url 'insurance_edit' insurance.id %}" class="btn btn-primary mr-2 text-white flex-grow-1">Edit</a>#}
{#      <a href="{% url 'insurance_delete' insurance.id %}" class="btn btn-danger text-white flex-grow-1">Remove</a>#}
{#    </div>#}
{#  </div>#}
{#  {% endfor %}#}
{#</div>#}
{#<div class="mt-3 mb-3 text-center">#}
{#  <a href="{% url 'mainpage' %}" class="btn btn-primary mr-2 text-white flex-grow-1">Back</a>#}
{#</div>#}
{#{% endblock %}#}

{% extends 'base.html' %}
<!-- Rozszerza szablon bazowy base.html -->

{% block content %}
<!-- Rozpoczyna blok zawartości -->

<style>
  /* Twój kod CSS tutaj */
  .date {
    font-weight: bold;
  }
</style>

<div class="d-flex flex-row justify-content-between align-items-center">
  <!-- Kontener flexowy z elementami ułożonymi w poziomie, równomiernie rozmieszczonymi z obu stron i wyśrodkowanymi w pionie -->
  <h3> All insurances </h3>
  <!-- Nagłówek "All insurances" -->
  <a href="{% url 'insurance_add' %}" class="btn btn-primary">Add insurance</a>
  <!-- Przycisk "Add insurance" prowadzący do widoku dodawania nowego ubezpieczenia -->
</div>
<!-- Zamyka kontener flexowy -->

<hr>
<!-- Linia pozioma -->

<div class="w-100 p-3 d-flex flex-row flex-wrap">
  <!-- Kontener flexowy z elementami ułożonymi w poziomie i zawijaniem wierszy -->
  {% for insurance in policies %}
  <!-- Rozpoczyna pętlę iteracyjną po ubezpieczeniach -->
  <div class="card p-4 d-inline-block m-2" style="width: 20rem;">
    <!-- Karta ubezpieczenia -->
    <div class="card-body">
      <!-- Ciało karty -->
      <h5 class="card-title">{{insurance.policy_number}}</h5>
      <!-- Tytuł karty z numerem polisy -->
      <p class="card-text">Insurance Company: {{insurance.tuBase.short_name}}</p>
      <!-- Paragraf z krótką nazwą towarzystwa ubezpieczeniowego -->
      <p class="card-text">
        <!-- Paragraf z datami ważności polisy -->
        Valid from:<br>
        <span class="date">{{insurance.validity_start_date|date:"F d, Y"}}</span><br>
        <!-- Data rozpoczęcia ważności polisy -->
        to<br>
        <span class="date">{{insurance.validity_end_date|date:"F d, Y"}}</span><br>
        <!-- Data zakończenia ważności polisy -->
      </p>
      <p class="card-text">Status: {{insurance.status}}</p>
      <!-- Paragraf z statusem ubezpieczenia -->
      <p class="card-text">Type: {{insurance.policy_type}}</p>
      <!-- Paragraf z typem ubezpieczenia -->
      <div class="mt-4 d-flex flex-row">
        <!-- Kontener flexowy z elementami ułożonymi w poziomie -->
        <a href="{% url 'insurance_detail' insurance.id %}" class="btn btn-primary mr-2 text-white flex-grow-1">Info</a>
        <!-- Przycisk "Info" prowadzący do szczegółów ubezpieczenia -->
        <a href="{% url 'insurance_edit' insurance.id %}" class="btn btn-primary mr-2 text-white flex-grow-1">Edit</a>
        <!-- Przycisk "Edit" prowadzący do edycji ubezpieczenia -->
        <a href="{% url 'insurance_delete' insurance.id %}" class="btn btn-danger text-white flex-grow-1">Remove</a>
        <!-- Przycisk "Remove" prowadzący do usunięcia ubezpieczenia -->
      </div>
      <!-- Zamyka kontener flexowy -->
    </div>
    <!-- Zamyka ciało karty -->
  </div>
  <!-- Zamyka kartę ubezpieczenia -->
  {% endfor %}
  <!-- Zamyka pętlę iteracyjną -->
</div>
<!-- Zamyka kontener flexowy -->

<div class="mt-3 mb-3 text-center">
  <!-- Kontener tekstowy z wyśrodkowanym tekstem -->
  <a href="{% url 'mainpage' %}" class="btn btn-primary mr-2 text-white flex-grow-1">Back</a>
  <!-- Przycisk "Back" prowadzący do strony głównej -->
</div>
<!-- Zamyka kontener tekstowy -->

{% endblock %}
<!-- Zamyka blok zawartości -->
