<!-- W widoku insurance_detail.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container-policy">
    <h1>Insurance Policy Detail</h1>
    <p><strong>Policy Number:</strong> {{ policy.policy_number }}</p>
    <p><strong>Validity Start Date:</strong> {{ policy.validity_start_date }}</p>
    <p><strong>Validity End Date:</strong> {{ policy.validity_end_date }}</p>
    <p><strong>Status:</strong> {{ policy.status.policy_status_name }}</p>
    <p><strong>Type:</strong> {{ policy.policy_type.policy_type_name }}</p>
</div>
<div class="container-company">
    <h1>Insurance Company Details</h1>
    <p><strong>Name:</strong> {{ policy.tuBase.full_name }}</p>
    <p><strong>Address:</strong> {{ policy.tuBase.address_street }}, {{ policy.tuBase.address_building_number }}, {{ policy.tuBase.address_postal_code }}, {{ policy.tuBase.location }}</p>
    <p><strong>Phone:</strong> {{ policy.tuBase.phone }}</p>
    <p><strong>Email:</strong> {{ policy.tuBase.email }}</p>
</div>

<!-- Added return button -->
<a class="btn btn-primary" href="{% url 'insurance_list' %}">Back to All Insurances</a>



{% endblock %}

{#<button id="deleteBtn">Usuń Polisę</button> <!-- Przycisk usuwania -->#}
{##}
{#<!-- Modal -->#}
{#<div id="deleteModal" class="modal">#}
{#  <div class="modal-content" style="width: 60%; max-width: 100px; margin: auto; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">#}
{#    <span class="close">&times;</span>#}
{#    <p style="text-align: center;">Czy na pewno chcesz usunąć tą polisę?</p>#}
{#    <div style="text-align: center;">#}
{#      <button id="confirmDeleteBtn">Tak</button>#}
{#      <button id="cancelDeleteBtn">Nie</button>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{##}
{#<script>#}
{#// Get the modal#}
{#var modal = document.getElementById('deleteModal');#}
{##}
{#// Get the button that opens the modal#}
{#var btn = document.getElementById("deleteBtn");#}
{##}
{#// Get the <span> element that closes the modal#}
{#var span = document.getElementsByClassName("close")[0];#}
{##}
{#// When the user clicks on the button, open the modal#}
{#btn.onclick = function() {#}
{#  modal.style.display = "block";#}
{#}#}
{##}
{#// When the user clicks on <span> (x), close the modal#}
{#span.onclick = function() {#}
{#  modal.style.display = "none";#}
{#}#}
{##}
{#// When the user clicks anywhere outside of the modal, close it#}
{#window.onclick = function(event) {#}
{#  if (event.target == modal) {#}
{#    modal.style.display = "none";#}
{#  }#}
{#}#}
{##}
{#// Handle confirmation delete button click#}
{#document.getElementById("confirmDeleteBtn").onclick = function() {#}
{#  modal.style.display = "none";#}
{#  // AJAX request to delete the policy#}
{#  var xhr = new XMLHttpRequest();#}
{#  xhr.open("POST", "{% url 'insurance_delete' policy_id=policy.id %}", true);#}
{#  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');#}
{#  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');#}
{#  xhr.onload = function () {#}
{#    if (xhr.status === 200) {#}
{#      // Redirect to the insurance list page after deleting the policy#}
{#      window.location.href = "{% url 'insurance_list' %}";#}
{#    }#}
{#  };#}
{#  xhr.send('confirm_delete=Yes'); // Pass confirm_delete parameter#}
{#}#}
{##}
{#// Handle cancel delete button click#}
{#document.getElementById("cancelDeleteBtn").onclick = function() {#}
{#  modal.style.display = "none";#}
{#}#}
{#</script>#}
{#{% endblock %}#}
