{% extends 'base.html' %}

{% block style %}
<style>
.form p {
  display: flex;
  flex-direction: column;
}
.form ul {
  display: none;
}
form .errorlist {
  display: flex;
  flex-direction: column;
}
.errorlist li {
  color: red;
}
.form span {
  font-size: 0.8rem;
  color: #00000080;
}
.form p {
  margin-bottom: 0.5rem;
}
.form input {
    border: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

.form input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
</style>
{% endblock %}

{% block content %}
<section class="">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="..\..\static\bcg.jpg"
             class="img-fluid d-inline-block" alt="Nice image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
          {% for message in messages %}
              <div class="alert alert-danger">
              {{ message }}
              </div>
          {% endfor %}
        <form method="post" class="form">
        {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn mt-4 btn-primary btn-block">Sign up</button>
          <br><br>
          <p>
            Already have an account? <a href="{% url 'user_login' %}">Log in</a>
          </p>
          </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
