/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bcg.jpg');
    background-size: 100%; /* Cover the entire background */
    background-attachment: fixed;
    background-position: center;

}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 10px;
    font-weight: bold;
    padding: 5px 1 0px;
    border-radius: 20px;
    top: 50%;


}

.buttons {
    text-align: center;
    margin-top: 75px;
    box-shadow: 20px 20px 75px 15px;
}

a.button {
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

/* Register Button */
.register-button {
    background-color: black; /* Dark grey */
    color: #fff; /* White text */
}

.register-button:hover {
    transform: scale(1.6); /* Increase size on hover */
}

/* Login Button */
.login-button {
    background-color: #555; /* Darker grey */
    color: #fff; /* White text */
}

.login-button:hover {
    transform: scale(1.6); /* Increase size on hover */
}

/* About Button */
.about-button {
    background-color: black; /* Light grey */
    color: #fff; /* Dark grey text */
    font-size: 14px; /* Smaller font size */
}

.about-button:hover {
    transform: scale(1.6); /* Increase size on hover */
}

/* Admin Login Button */
.admin-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #6a0dad; /* Dark purple */
    color: #fff; /* White text */
    padding: 10px 20px;
    font-weight: bold;
}

.admin-button:hover {
    transform: scale(1.5); /* Increase size on hover */
}

/* Blur effect for unselected buttons */
a.button:hover {
    filter: not(blur(5px)); /* Blur unselected buttons */
}
