<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona startowa</title>
    <!-- Dodaj link do stylów Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4 text-center">Witaj na stronie startowej!</h1>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{% url 'login' %}" class="btn btn-primary btn-block mb-3">Zaloguj się</a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'register' %}" class="btn btn-success btn-block mb-3">Zarejestruj się</a>
            </div>
            <div class="col-md-4">
                <a href="/admin/" class="btn btn-info btn-block mb-3">Panel administratora</a>
            </div>
        </div>
    </div>

    <!-- Dodaj link do skryptów Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
